nav{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.body-content{
    display: flex;
}

.menu-navigation{
    width: 20%;
    padding: 0px 2%;
    background-color: white;
}

.content-page{
    width:80%;
    background-color: rgb(224, 224, 224);
}

.menu-items-data{
    display: flex;
    flex-direction: column;
}

.item-menu{
    font-size: 1.5rem;
    padding: 15px 0px;
}

